.rightColumn {
    width: 200px;
    margin: 35px 0 0 10.4%;
    float: left;
}

.rightColumn__title {
    margin-bottom: 35px;
}

.rightColumn li {
    margin: 0 0 25px 0;
    list-style-type: none;
    font-weight: 900;
}

.filter p,
.filter__size,
.filter__color,
.filter__price,
.filter__sortBy {
    display: inline-block;
    margin-right: 60px;
}

.filter__size p,
.filter__color p,
.filter__price p,
.filter__sortBy p {
    
    margin-right: 15px;
}

.filter {
    margin: 35px 0 35px 22.9%; 
}

