.location {
    margin: 100px 0 0 10.4%;
}

.location__item {
    display: inline-block;
}

.location__icon {
    margin: 0 5px 0 5px; 
}

.info {
    margin: 35px 0 0 10.4%;
}

.info__title {
    margin-bottom: 20px;
}

.info__subtitle1 {
    margin-bottom: 15px;
}

.info__details {
    margin: 25px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info__details-case {
    width: 220px;
    height: 210px;
    text-align: center;
}