@media (max-width: 375px) {

    .burgerContentforDesktop {
        display: none;
    }

    .burgerContentforMobile {
        display: unset;
    }

    .mainBlock__pictures-item3,
    .mainBlock__pictures-item2, 
    .mainBlock__pictures-item1 {
        display: none;
    }

    .mainBlock__pictures-item0 {
        width: 375px;
    }





    .mainBlock__pictures-item {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        viewport-fit: cover;
    }

    .mainBlock__pictures-item:not(:first-child) {
        display: none;
    }





    

    .mainBlock-forMobile {
        display: unset;
        width: 375px;
    }

    .mainBlock__captions-title {
        margin: 0 auto 20px;
        font-size: 32px;
    }

    .mainBlock__captions-underline {
        width: 120px;
    }

    .mainBlock__captions-subtitle p {
        position: relative;
        right: 1px;
        bottom: 8px;
        font-size: 14px;
    }

    .mainBlock__captions-subtitle-arrow {
        width: 6.11px;
        height: 10px;
        position: relative;
        bottom: 30px;
        left: 80px;
    }

    .categories__title {
        margin: 60px 0 0 20px;
        font-size: 24px;
    }

    .categories__items-item-warmCaot,
    .categories__items-item-darkJacket {
        display: none;
    }

    .arrowOnTheDarkCoat {
        display: unset;
    }

    .categories__items {
        width: 335px;
        margin: 30px 0 0 20px;
    }

    .categories__items-item-pic,
    .categories__items-subtitle {
        width: 165px;  
    }

    .categories__items-subtitle {
        height: 25px;
        top: -45px;
        /* padding-bottom: 20px; */
    }

    .categories__items-subtitle-div {
        font-size: 18px;
        position: relative;
        bottom: 8px;
    }

    .categories__items-item-div {
        width: 30px;
        height: 30px;
        left: 76%;
        bottom: 58%;
    }

    .categories__items-item-div-arrow {
        width: 7.33px;
        height: 12px;
        top: 4px;
        left: 8.5px;
    }

    .novelties-title {
        width: 335px;
        margin: 0 0 0 20px;
        font-size: 24px;
    }

    .novelties-form-input {
        width: 335px;
        height: 40px;
        margin: 30px auto 0;
        font-size:  14px;
    }

    .novelties-form-submit {
        width: 340px;
        height: 45px;
        margin: 15px auto 0;
        font-size:  14px;
    }

    .novelties-subtitle {
        width: 335px;
        height: 48px;
        margin: 15px auto 60px;
        font-size:  14px;
    }

    /* footer {
        position: unset;  
    } */

}