* {
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    line-height: 21px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    /* top: 24px; */
    width: 100%;
    min-width: 1000px;
    height: 40px;
    /* margin-top: 24px;
    border: solid 1px black;
    background-color: brown; */
}

.header__burger-long, .header__burger-middle, .header__burger-short {
    position: absolute;
    left: 10.41%;
    height: 4px;
    background-color: white;
}

.header__burger-long {
    top: 33px;
    width: 34px;
}

.header__burger-middle {
    top: 43px;
    width: 26px;
}

.header__burger-short {
    top: 53px;
    width: 18px;
}

.header__nav {
    position: absolute;
    left: 22.47%;
    top: 34px;
    display: flex;
    justify-content:space-between;
    width: 13.20%;
    min-width: 215px;
    /* height: 21px; */
    
}

.header__nav-new, .header__nav-catalog, .header__nav-aboutUs {
    height: 21px;
    color: white;
    text-decoration: auto;
}

/* .header__nav-new {
    width: 44px; 
}

.header__nav-catalog {
    width: 80px;    
}

.header__nav-aboutUs {
    width: 56px;
} */

.header__logo {
    position: absolute;
    left: 46%;
    top: 21px;
}

.header__languages-language {
    position: absolute;
    width: 26px;
    height: 21px;
    left: 61.87%;
    top: 34px;
    color: #FFFFFF;
}

.header__languages-arrow {
    position: absolute;
    left: 63.69%;
    top: 42px;
    background: #FFFFFF;
    /* transform: rotate(90deg); */
}

.header__currencys-currency {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 66.61%;
    top: 34px;
    color: #FFFFFF;
}

.header__currencys-arrow {
    position: absolute;
    left: 69.11%;
    top: 41px;
    background: #FFFFFF;
    /* transform: rotate(90deg); */
}

.header__leftSideSigns {
    position: absolute;
    left: 78.64%;
    top: 32px;
    display: flex;
    justify-content: space-between;
    width: 10.41%;
    min-width: 125px;
}



.mainBlock__pictures {
    display: flex;
    justify-content: center;
}

.mainBlock__pictures-item {
    max-height: 1080px;
}

.mainBlock__captions-title {
    position: absolute;
    left: 36.3%;
    top: 52%;
    font-size: 58px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 4px;
    opacity: 0.85;
    width: 525px;
    height: 40px;
}

.mainBlock__captions-underline {
    position: absolute;
    top: 58.8%;
    left: 45.4%;
    width: 165px;
    border-top: #FFFFFF 1px solid;
}

.mainBlock__captions-subtitle p {
    display: inline-block;
}
.mainBlock__captions-subtitle {
    position: absolute;
    top: 62%;
    left: 44%;
    color:#FFFFFF;
    font-size: 18px;
}

.mainBlock__captions-subtitle-arrow {
    padding-bottom: 3px;
}

.categories__title {
    margin: 120px 0 66.5px 200px;
    font-size: 40px;
    font-weight: 600;
}